nav
 {
    background-image: url(image3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 610px;
    
}

header 
{
    color: white;
    text-align: left;
    background-color: black ;
    font-family: sans-serif;
}
    
.menu
{   color: white;
    text-align: center;
    margin-top: 10px;}

h1 
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: bold;
    padding-top: 10px;
}

h2 
{
    text-align: center;
    color: white;
}

.container img
{
    width: 500px;
    height: 450px;
    float: left;
    margin-top: 400px;
}
    


.about_us1 
{
    font-size: 20px;
    color: black;
    float: right;
    width: 400px;
    margin-right: 150px;
    margin-top: 400px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
