
body 
{ 
    background-image: url(image6.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header 
{
       background-color: black;
       text-align: center;
}

.center-item 
{
    padding: 24px; 
    color: white;
    text-decoration:none;
    flex-direction: row;
    align-items: center;
}

.button 
{
    font-size: larger;
    margin-left: 30px;
    border-radius: 1rem;
}

.logo
{
display: block;
size-adjust: 30px;
height: 30px;
padding-left: 30px;
}

main 
{
    text-align:center;
    background-size: cover; 
}

h1 
{
    color:white;
    padding-bottom: 50PX;
    font-size: 80px;
    font-family:'Playpen Sans', cursive;;
} 

h2 
{
    font-family:'Playpen Sans', cursive;
    color: white;
}

.container img 
{
    display: block;
    block-size: 500px;
    text-align: right;
    flex-direction: row;
    float: left;
    flex-direction: row;
    align-content: center;
    padding-top: 100px;
}
.content1
{
    font-size: 40px;
    color: white;
    margin-top: 100px;
}

.content2 
{
    font-size: large;
    color: white;
}

footer {
    color: white;
    padding:500px;
    text-align: center;
}   
.end {
    color: white;
    text-decoration: none;
    color: white;
    align-items: center;
}
